[submodule "c_rnn_gan"]
	path = c_rnn_gan
	url = https://github.com/HugoPhibbs/c-rnn-gan.pytorch.git
[submodule "ViT/vit_pytorch"]
	path = ViT/vit_pytorch
	url = https://github.com/kraw084/vit_pytorch.git
